package web

import "github.com/inspr-at/hausv-org/internal/view"

type SettingsHubPageData struct {
	Portal                      PortalPageData
	Email                       string
	SettingsDisplayName         string
	SettingsNotificationSummary string
	SettingsHomeURL             string
	CalendarFeedURL             string
	HasCalendarFeedURL          bool
	SettingsCanManageEnergyData bool
	CanManageHomeIdentity       bool
	CanManageBuilding           bool
	CanManageLeases             bool
	CanManageDocuments          bool
	CanManageHandovers          bool
	CanViewAudit                bool
	IsAdmin                     bool
	HomeIdentity                view.HomeIdentityView
	// Profilbild (HAUSV-675). ProfilePictureURL is empty exactly when the
	// person has none; the card then shows the neutral icon it always showed.
	ProfilePictureURL    string
	HasProfilePicture    bool
	ProfilePictureMsg    string
	ProfilePictureOK     bool
}

type SettingsProfile struct {
	Title, FirstName, LastName, Phone string
	DirectoryOptIn                    bool
}

type ProfileSettingsPageData struct {
	EffectiveRights []EffectiveRight
	RightsTenant string
	Portal         PortalPageData
	Email          string
	Profile        SettingsProfile
	ProfileMsg     string
	ProfileOK      bool
	PermissionList []string
	AuthList       []string
	Units          []view.ProfileUnitView
}

type NotificationSettingsPageData struct {
	Portal                    PortalPageData
	Email                     string
	NotifyMsg                 string
	NotifyOK                  bool
	EmailNotificationsEnabled bool
	NotificationEvents        []view.NotificationEventOption
	NotificationEnabledCount  int
	NotificationEventCount    int
}

type BuildingTenant struct {
	Name, Address, BrandIcon, BrandAbbreviation                       string
	ContactName, ContactAddress, ContactEmail, ContactPhone            string
	EmergencyName, EmergencyPhone                                     string
	CaretakerName, CaretakerEmail, CaretakerPhone, HeroImageURL        string
	MapLatitude, MapLongitude                                          float64
}

type BuildingSettingsPageData struct {
	Portal                  PortalPageData
	Tenant                  BuildingTenant
	AssetVersion            string
	BuildingMsg             string
	BuildingOK              bool
	BuildingSection         string
	BrandIconOptions        []view.SelectOption
	BrandIconLabel          string
	BrandIconIsLucide       bool
	LucideIconNamesJSON     string
	HeroMsg                 string
	HeroOK                  bool
	HasCustomHero           bool
	Units                    []view.BuildingUnitView
	NewUnitTypeOptions      []view.SelectOption
	NewUnitPaymentOptions   []view.SelectOption
	UnitTotal               int
	BillableUnits           string
	BillableLabel           string
	FairUseFreeUnits        int
	FairUseExceeded         bool
	UnitsEmpty              view.EmptyStateView
	UnitMsg                 string
	UnitOK                  bool
	UnitDataNotice          string
	PaymentMsg              string
	PaymentOK               bool
	HasHomeProfile          bool
	HomeProfileName         string
	HomeProfileType         string
	HasHomeProfileUnit      bool
	HomeProfileSaved        bool
	MapConfigured           bool
}

type UserSettingsPageData struct {
	Rights UserRightsData
	RightsSaved bool
	Portal                       PortalPageData
	AssetVersion                 string
	Users                        []view.UserRow
	UserCount                    int
	ActiveUserCount              int
	InvitedUserCount             int
	DisabledUserCount            int
	UsersEmpty                   view.EmptyStateView
	InviteMsg                    string
	InviteOK                     bool
	IsAdmin                      bool
	ServiceProviderAccessEnabled bool
}

templ SettingsFrame(portal PortalPageData, label string, extraScripts []string, body templ.Component) {
	@PortalDocument(portal.Title, portalAssetVersion(), extraScripts, SettingsStyles(), templ.Attributes{"data-templ-settings": true}) {
			@PortalShell(portal, label, body)
	}
}
