package web

import "github.com/inspr-at/hausv-org/internal/version"

templ VersionStamp(value, scheme string) {
 <span class="product-version" data-product-version={ value } data-version-scheme={ scheme }>{ value }</span>
}

templ CurrentVersionStamp() {
 @VersionStamp(version.Version, version.Identity().VersionScheme)
}
